<!DOCTYPE html>
<html>
<head>
    <title>Login - Book Club</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login to Book Club</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>